* {
  margin: 0;
  padding: 0;
}

#cabecalho {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  box-shadow: 10px 5px 5px rgb(0, 0, 0);
}

#cabecalho > section {
  width: 100%;
  max-width: 1280px;
}



#cabecalho .menu-refs ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
  font-size: 25px;
}


#cabecalho .menu-refs ul  a{
  text-decoration: none;
  color: #000000;
}

#cabecalho .menu-refs ul  a:hover {
  text-decoration: underline;
}


#rodape {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 300px;
    gap: 30px;
    box-shadow: 10px 3px 10px #000000bb;
    background-color: #0c1259;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#rodape .social {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#rodape .social ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

#rodape .social ul img {
    width: 30px;
}
